<style>
a{
    text-decoration: none;
}
</style>
<footer>
    <div class="f-info p-3">
        <div class="f-info-socials mb-2">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="m-1">
            <p class="m-0">Made by <a href="https://www.linkedin.com/in/laksh-jawadwar/">Laxmikant Jawadwar (Linkedin)</a> as my first project.</p>
        </div>
        <div class="f-info-brand mb-1">
           &copy; staySphere 
        </div>
        <div class="f-info-links mb-1">
            <a href="/staySphere/privacy">  Privacy  &nbsp;</a>
            <a href="/staySphere/terms">   Terms  </a>
        </div>
    </div>
</footer>

