<style>
.logo{
  max-width: 11rem;
  margin-right: 1.5rem;
}  
.search-btn{
   /* background-color: #fe424d; */
   background-color: #f16d49;
   color: #fff;
   border-radius: 25px;
   padding: 0 1rem 0 1rem;
   margin-left: 0.5rem;
}

.search-btn:hover{
   background-color: #fe424d;
   color: #fff;
}

.search-btn i{
  display: inline;
  margin-right: 0.5rem;
}

.search-inp{
   border-radius: 25px;
   padding-left: 2rem;
   margin-left: 0.5rem;
   min-width: 13rem;
}
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><img src="/images/logo/logo.png" alt="Logo" class="logo"></a>
    <!-- this toggler button shows only on smaller screens to toggle navbar -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
      >
       <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-1">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

    <div class="navbar-nav offset-2">
    <form class="d-flex needs-validation" role="search" action="/listings/search" method="GET" novalidate>
      <select name="field" class="form-select" required>
        <option value="">Search by...</option>
        <option value="country">Country</option>
        <option value="location">City</option>
        <option value="title">Title</option>
      </select>

    <input
      name="q"
      class="form-control search-inp"
      type="search"
      placeholder="Enter search text"
      required
    />

    <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
  </form>
  </div>


      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if(!curUser){ %>
          <a class="nav-link"  href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>

        <% if(curUser){ %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>