body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
/* Navbar Styling */
.navbar{
    height: 5rem;
    background-color: white;
} 
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222;
}

/* Footer Styling */
.f-info{
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    height: 8rem;
    flex-wrap: wrap; /*allow items to go to next line */
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials,
.f-info-brand,
.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center; /*centers the items along main axis(row) */
    align-items: center; /*centers the items along cross axis(column) */
    
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover { 
    text-decoration: underline;
}

/*Card-container div*/
.card-container .listing-card{
    border:#222222 1px solid ;
    border-radius: 1rem;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
    
}
.review-container{
    border:#222222 1px solid ;
    border-radius: 1rem;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
}


/* Home Page cards and each card style  */
#listingContainer .listing-card {
    border: 0.2px solid #bdccd2;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.25s ease;
    background-color: #fff;

}

#listingContainer .listing-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0.8rem 5rem rgba(0,0,0,0.15);
}

#listingContainer .listing-card img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

#listingContainer .listing-card .card-body {
    padding: 0.8rem 0.6rem;

}

#listingContainer .listing-card .card-text b {
    font-size: 0.95rem;
}

#listingContainer .listing-card .card-text span {
    font-size: 0.85rem;
}

/*New page */
.add-btn{
    background-color: #fe424d;
    color: white;
    border: none;
}

/*Edit page */
.edit-btn{
    background-color: #fe424d;
    color: white;
    border: none;
}

/*show page */

.show-img{
    height: 40vh;
}

.btns{
    display: flex;
    flex-wrap: wrap;
}

/* Maps */
#map { 
    height: 400px;
    width: 100%;
}

/*Profile section horizontal scroll*/
.scroll-container {
    border: 1px solid #63605a;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 10px;
}

.scroll-card {
    min-width: 250px;
    flex-shrink: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.profile-container .card-img-small {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.scroll-card:hover {
    transform: translateY(-4px);
    transition: 0.2s;
}
.empty-state {
    padding: 20px;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 10px;
    background: #fafafa;
}