body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
/* Navbar Styling */
.navbar{
    height: 5rem;
    background-color: white;
} 
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222;
}

/* Footer Styling */
.f-info{
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    height: 8rem;
    flex-wrap: wrap; /*allow items to go to next line */
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials,
.f-info-brand,
.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center; /*centers the items along main axis(row) */
    align-items: center; /*centers the items along cross axis(column) */
    
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover { 
    text-decoration: underline;
}

/*Card-container div*/
.card-container{
    border:#222222 1px solid ;
    border-radius: 1rem;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
    
}
.review-container{
    border:#222222 1px solid ;
    border-radius: 1rem;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
}

/*Cards*/
.listing-card{
    border: none;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
/* .card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    height: 20rem;
} */
.card-body{
    padding: 0;
}
.listing-link{
    text-decoration: none;
}

/*Card effect */
.card-img-overlay{
    opacity :0;
}
.card-img-overlay:hover{
    opacity :0.2;
    background-color: white;
}

/*New page */
.add-btn{
    background-color: #fe424d;
    color: white;
    border: none;
}

/*Edit page */
.edit-btn{
    background-color: #fe424d;
    color: white;
    border: none;
}

/*show page */

.show-img{
    height: 40vh;
}

.btns{
    display: flex;
    flex-wrap: wrap;
}

/* Maps */
#map { 
    height: 400px;
    width: 100%;
}